*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F9F9F9;
    color: #403F3F;
    font-family: Raleway;
    font-size: 1.2em;
}
header, footer{
    background-color: #403F3F;
    height: 150px;
}
nav{
    height: 75px;
    background-color: #595959;
}
main{
    min-height: 500px;
    width: 980px;
    margin: auto;
}
