*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #BFBCBA;
    color: #262402;
    font-family: Raleway, sans-serif;
    font-size: 1.2em;
}
header{
    background-color: #262402;
    height: 150px;
}
nav{
    background-color: #594E45;
    height: 60px;
    text-align: center; /* los elementos de línea dentro de nav */
}

    nav a{
        text-decoration: none;
        color: #BFBCBA;
        background-color: #594E45;
        padding: 18px 30px;
        display: inline-block;
    }
    nav a:hover{
        color: #f0edeb;
        background-color: #746960;
    }

main{
    width: 1020px;
    margin: auto; /* para centrar la caja main */
    background-color: #BFBCBA;
    padding: 20px;
    min-height: 500px;
}
    #principal{
        width: 980px;
        background-color: #8C837B;
        height: 250px;
        padding: 16px;
        color: #fff;
    }
    main article{
        width: 450px;
        height: 250px;
        margin: 24px 16px;
        background-color: #fff;
        display: inline-block;
    }

footer{
    background-color: #262402;
    color: #BFBCBA;
    text-align: center;
    height: 150px;
    padding-top: 50px;
    box-sizing: border-box;
}

