body{
    background-color: #8C837B;
}
#encabezado{
    background-color: #262402;
}
#menu{
    background-color: #594E45;
}
#contenido{
    background-color: #BFBCBA;
}
#pie{
    background-color: #262402;
}