body{
    background-color: #F4DEC8;
    color: #33302A;
    font-family: Helvetica;
    font-size: 1.2em;
}
header{
    background-color: #33302A;
}
nav{
    background-color: #706946;
}
main{

}
footer{
    background-color: #33302A;
}
